<launch>

    <!-- multidrone robot 1 -->
    <include file="$(find action_executer)/launch/action_executer.launch">
        <arg name="drone_id" value="1"/>
        <arg name="onboard" value="false"/>
    </include>

    <include file="$(find onboard_scheduler)/launch/onboard_scheduler.launch">
        <arg name="drone_id" value="1"/>
    </include>


    <!-- mission controller. For 1 drone: value="[1]"    For 2 drones: value="[1,2]" -->
    <include file="$(find multidrone_planning)/launch/mission_controller.launch">
        <arg name="drones" value="[1]"/>
        <arg name="origin_latitude" value="37.558542"/>
        <arg name="origin_longitude" value="-5.931074"/>
        <arg name="origin_altitude" value="7.89"/>
    </include>


</launch>
