<launch>
   	<arg name="drone_id" default="1"/>

    <!-- Launch UAL server for drone id=1 -->
    <node pkg="uav_abstraction_layer" type="server" name="ual" output="screen" ns="drone_$(arg drone_id)">
        <param name="uav_id" value="$(arg drone_id)"/>
        <param name="pose_frame_id" value="map"/>
        <rosparam param="home_pose">[-22.0, -22, 0]</rosparam><!-- [x,y,z] -->
    </node>

</launch>
