
<launch>
    <arg name="vehicle" default="typhoon_h480"/>
    <arg name="multi" default="false"/>

    <!-- Launch Gazebo simulation -->
	<rosparam param="/use_sim_time">true</rosparam>
    <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen"
    args="-physics=ode -world=$(find multidrone_simulator)/worlds/karting_sevilla.world
		  -add_model_path=$(find multidrone_simulator)/models
          -debug=true
		  -description_package=robots_description">
		<rosparam param="sim_origin">[37.558542, -5.931074, 7.89]</rosparam>  <!-- [lat,lon,alt] -->
	</node>
    
    <!-- Launch robot id=1 -->
	<include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="drone_1">
		<arg name="id" value="1"/>
        <arg name="robot_model" value="typhoon_h480"/>
		<arg name="material" value="Indigo"/>
        <arg name="x" value="-22"/>
        <arg name="y" value="-22.0"/>
        <arg name="z" value="0.0"/>
        <arg name="yaw" value="1.57"/>
	</include>

    <!-- Launch robot id=2  -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="drone_2" if="$(arg multi)">
        <arg name="id" value="2"/>
        <arg name="material" value="Indigo"/>
        <arg name="robot_model" value="typhoon_h480"/>
        <arg name="x" value="-18"/>
        <arg name="y" value="-18.0"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="3.141592"/>
    </include>

    <!-- Start vehicle node -->
    <!-- <node name="drc_vehicle_moving" pkg="multidrone_simulator" type="drc_vehicle_moving" output="screen" launch-prefix="xterm -hold -fn 10x20 -e"/>  -->

    <!-- Camera 1 -->
    <node name="rqt_image_view_1" pkg="rqt_image_view" type="rqt_image_view" args="/$(arg vehicle)_1/cgo3_camera/image_raw"/>

</launch>