<launch>
    <arg name="vehicle" default="typhoon_h480"/>

    <!-- Launch Gazebo simulation -->
	<rosparam param="/use_sim_time">true</rosparam>
    <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen"
    args="-physics=ode -world=$(find multidrone_simulator)/worlds/karting_sevilla.world
		  -add_model_path=$(find multidrone_simulator)/models
		  -description_package=robots_description">
		<rosparam param="sim_origin">[37.558542, -5.931074, 7.89]</rosparam>  <!-- [lat,lon,alt] -->
	</node>


    <!-- Launch robot id=2  -->
     <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="drone_2">
        <arg name="id" value="2"/>
        <arg name="material" value="Indigo"/>
        <arg name="robot_model" value="typhoon_h480"/>
        <arg name="x" value="-18"/>
        <arg name="y" value="-18.0"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="3.141592"/>
    </include> 


    <!-- Launch UAL server for drone id=2 -->
     <node pkg="ual_backend_mavros" type="ual_backend_mavros_server" name="ual" output="screen" ns="drone_2">
        <param name="uav_id" value="2"/>
        <param name="pose_frame_id" value="map"/>
        <rosparam param="home_pose">[-18.0, -18.0, 0.0]</rosparam>
        <rosparam param="map_origin_geo">[37.5585339, -5.9310622, 7.89]</rosparam>
    </node>    

    <include file="$(find multidrone_simulator)/launch/target_node.launch"/>

    <!-- Camera 1> -->
    <node name="rqt_image_view_1" pkg="rqt_image_view" type="rqt_image_view" args="/$(arg vehicle)_1/cgo3_camera/image_raw"/>
   
    <!-- Camera 2> -->
    <!-- <node name="rqt_image_view_2" pkg="rqt_image_view" type="rqt_image_view" args="/$(arg vehicle)_2/cgo3_camera/image_raw"/> -->
    
</launch>