<launch>

    <!-- multidrone robot 1 -->
    <include file="$(find action_executer)/launch/action_executer.launch">
        <arg name="drone_id" value="1"/>
        <arg name="target_mode" value="4"/>
    </include>

    <!-- multidrone robot 2 -->
    <include file="$(find action_executer)/launch/action_executer.launch">
        <arg name="drone_id" value="2"/>
        <arg name="target_mode" value="4"/>
    </include>

    <!-- multidrone robot 1 -->
    <include file="$(find onboard_scheduler)/launch/onboard_scheduler.launch">
        <arg name="drone_id" value="1"/>
    </include>

     <!-- onboard scheduler robot 2 -->
    <include file="$(find onboard_scheduler)/launch/onboard_scheduler.launch">
        <arg name="drone_id" value="2"/>
    </include>

    <!-- mission controller -->
    <include file="$(find multidrone_planning)/launch/mission_controller.launch">
        <arg name="drones" value="[1, 2]"/>
    </include>

    <!-- dashboard node -->
    <!-- Launch pydashboard script in a different terminal window -->
    <!-- <include file="$(find dashboard_interface)/launch/pydashboard.launch">
    </include> -->

</launch>

