<launch>
   	
    <arg name="vehicle" default="typhoon_h480"/>
    <arg name="world" default="$(find multidrone_gazebo)/worlds/outdoor.world"/>

    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find drcsim_model_resources)/gazebo_models"/>
    <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find drcsim_model_resources)/gazebo_models"/>

    <rosparam param="use_sim_time">true</rosparam>

    <!-- Launch Gazebo simulation TODO: world location? -->
    <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen"
    args="-physics=ode -world=$(arg world)"/>

    <!-- Launch robot id=1 -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="drone_1">
        <arg name="id" value="1"/>
        <arg name="material" value="Orange"/>
        <arg name="robot_model" value="$(arg vehicle)"/>
        <arg name="x" value="-3.0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="3.141592"/>
    </include>


    <!-- Launch robot id=2 -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="drone_2">
        <arg name="id" value="2"/>
        <arg name="material" value="Indigo"/>
        <arg name="robot_model" value="$(arg vehicle)"/>
        <arg name="x" value="0"/>
        <arg name="y" value="4.0"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="3.141592"/>
    </include>


    <!-- Launch UAL server for drone id=1 -->
    <node pkg="uav_abstraction_layer" type="server" name="ual" output="screen" ns="drone_1">
        <param name="uav_id" value="1"/>
        <param name="pose_frame_id" value="map"/>
        <rosparam param="home_pose">[-3.0, 0, 0]</rosparam><!-- [x,y,z] -->
    </node>

    <!-- Launch UAL server for drone id=2 -->
    <node pkg="uav_abstraction_layer" type="server" name="ual" output="screen" ns="drone_2">
        <param name="uav_id" value="2"/>
        <param name="pose_frame_id" value="map"/>
        <rosparam param="home_pose">[0, 4.0, 0]</rosparam><!-- [x,y,z] -->
    </node>

    <!-- Start vehicle node -->
    <node name="drc_vehicle_moving" pkg="multidrone_gazebo" type="drc_vehicle_moving" output="screen"/> 

    <!-- Camera 1> -->
    <node name="rqt_image_view_1" pkg="rqt_image_view" type="rqt_image_view" args="/$(arg vehicle)_1/cgo3_camera/image_raw"/>
   
    <!-- Camera 2> -->
    <node name="rqt_image_view_2" pkg="rqt_image_view" type="rqt_image_view" args="/$(arg vehicle)_2/cgo3_camera/image_raw"/>

</launch>
