<launch>

  <node pkg="multidrone_visualizer" name="visualizer_node" type="visualizer_node" output="screen"/>

  <group ns="$(env LOGNAME)">
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find multidrone_visualizer)/rviz/Hacienda_de_Oran.rviz"/>   
  </group>

  <arg name="map" default="Hacienda_de_Oran_scenario"/> 

	<!-- Waking up the specific map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find multidrone_visualizer)/maps/$(arg map).yaml" respawn="true"/>

</launch>